/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

html body {
    font-family: Helvetica, "Open Sans", "Arial Black";
}

/*------------------------------ Header -----------------------------*/

header {


}

#nav-wrapper{
    background-color: #0a63ae;
    height: 60px;
}
nav div{
    padding: 5px;
}

nav a{
    float: right;
    color: white;
    font-family: "Open Sans", "Arial Black", Helvetica;
    font-weight: bold;
    background: none;
    border: white 1px solid;
    border-radius: 2px;
    padding: 10px;
    width: 150px;
    transition: all 200ms;
    text-align: center;
    margin: 5px;
}

nav a:hover{
    color: #0a63ae  ;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
}

#sub-header {
    background-color: #f9f9f9;
}

#search {
    margin: 5px;
    border-radius: 2px;
    border: none;
    width: 230px;
    padding: 10px;
    transition: all 200ms;
    float: left;
}

#search:focus{
    width: 350px;
}
#search-icon{
    padding: 0px;
    position: relative;
    width: 0px;
    height: 100%;
    float: left;
}

#search-icon::after{
    content: ' ';
    background-image: url("img/search.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
}

#search-result.hidden{
    padding: 0;
    margin: 0;
    height: 0;
}

#search-result.shown{
    height: 30vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#search-result .result{
    height: 100%;
    max-width: 200px;
    margin: 0px 10px;
}

#search-result .result img{
    height: 100%;
    width: 100%;
}

#search-result figure{
    position: relative;
    cursor: pointer;
}

#search-result figure figcaption {
    height: 0px;
    visibility: hidden;
    transition: height 500ms;
}

#search-result figure:hover figcaption{
    visibility: visible;
    color: white;
    display: block;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 40%;
    bottom: 0px;
    padding: 10px;
}

/*------------------------------- Main ------------------------------*/

#addMovie .row {
    margin-bottom: 20px;
}

#addMovie input[type='text'] {
    border-radius: 2px;
    border: 1px solid #a9a9a9;
    height: 3em;
    width: 30%;
    margin: 5px;
    padding: 5px;
    transition: all 150ms;
}

#addMovie input[type='text']:focus {
    outline: none;
    transform: scale(1.01);
    border: 2px solid #08477d;
    border-radius: 2px;
    padding: 10px;
}

#addMovie textarea {
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #a9a9a9;
    height: 100%;
    width: 100%;
    margin: 10px 5px;
    transition: padding 100ms, border 200ms, transform 200ms;
}

#addMovie textarea:focus {
    outline: none;
    transform: scale(1.001);
    border: 2px solid #08477d;
    padding: 10px;
}

#addMovie input[type='submit']{
    color: #0a63ae ;
    font-family: "Open Sans", "Arial Black", Helvetica;
    font-weight: bold;
    background: none;
    border: #0a63ae 1px solid;
    border-radius: 2px;
    padding: 10px;
    width: 150px;
    transition: all 200ms;
    text-align: center;
    margin: 5px;
}

#addMovie input[type="submit"]:hover{
    color: white  ;
    text-decoration: none;
    cursor: pointer;
    background-color: #0a63ae;
}

#addMovie img {
    max-height: 700px;
    max-width: 500px;
    margin: 20px;
}

#map {
    height: 400px;
}